<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content=”yes” name=”apple-mobile-web-app-capable” />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>Page Title</title>

    
    <link rel="stylesheet" type="text/css" href="/m/assets/mobile.css" />
    
</head>


<body ng-app="app" ng-controller="AppCtrl" include="app.html">
<script>
    window.LANG = 'cn'
    window.PLATFORM = 'MOBILE'
</script>

<script type="text/javascript" src="/m/assets/mobile.js"></script>

</body>

</html>