
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>家居设计</title>

    
    <link rel="stylesheet" type="text/css" href="/m/assets/front.css" />
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body ng-app="app" ng-controller="AppCtrl" include="app.web.html">
<script>
    window.LANG = 'cn'
    window.PLATFORM = 'WEB'
</script>

<script type="text/javascript" src="/m/assets/front.js"></script>

<script src="/m/locale.js"></script>
</body>
</html>

